.link {
    display: inline-flex;
    border-radius: 9999px;
    background: #7c292a1f;
    overflow: hidden;
    height: 30px;
    text-decoration: none;
    color: #7c292a;
    align-items: center;
    font-size: 14px;
    padding-right: 10px;
    margin: 5px 15px 5px 0;
}
.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    background: #7c292a;
    color: #fff;
}
.icon + span {
    padding-left: 10px;
}
